body, html {
    background-color: #6F9C26
}

.center {
  max-height: 40%;
  max-width: 40%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
